<%- include("partials/header")%>
<div class = "container">
	

		<h1 class = "text-center">
			Add new comment to <%= camp.name%>	
		</h1>
	
	<div><!--За стилизиране -->  
		
		<form  action = "/campgrounds/<%=camp._id%>/comments" method = "POST">
			<div class= "form-group">
				<input type="text"  class="form-control" placeholder = "Comment" name = "comment[text]">
            </div>
            
				<button class = "btn btn-primary btn-lg">
				Submit
			</button>
			</div>
			
		</form>
		<a href ="/campgrounds/<%= camp._id%>">Back</a>
	</div>
</div>


<%- include("partials/footer") %>